h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0 0 1rem;
	font-family: $font-roboto;
}

h1,
.h1 {
	font-size: 35px;
}

h2,
.h2 {
	font-size: 30px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 22px;
}

h5,
.h5 {
	font-size: 20px;
}

h6,
.h6 {
	font-size: 18px;
}

